{% extends 'base.html.twig' %}

{% block instructor %}
{#    <a type="button" class="btn btn-secondary" href="{{ path('') }}">Instructeur toevoegen</a>#}
    <table class="table table-bordered">
    <thead>
    <tr>
        <th scope="col">Naam</th>
        <th scope="col">Email</th>
        <th scope="col">Tussenvoegsel</th>
        <th scope="col">Achternaam</th>
        <th scope="col">Geslacht</th>
    </tr>
    </thead>
    <tbody>
{% for instructor in instructeur %}
        <tr>
            <td>{{ instructor.firstname }}</td>
            <td>{{ instructor.email }}</td>
            <td{{ instructor.preposition }}></td>
            <td>{{ instructor.lastname }}</td>
            <td>{{ instructor.gender }}</td>
                <td>
                    <form method="post" action="{{ path('admin_instructor_delete', {'id': instructor.id}) }}" onsubmit="return confirm('Weet u zeker dat u dit lid wilt verwijderen?');">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ instructor.id) }}">
                        <button class="btn btn-danger" style="float: right">Verwijderen</button>
                    </form>
                </td>
        </tr>
{% endfor %}
    </tbody>
    </table>
    {{form(form)}}
{% endblock %}