{% extends 'base.html.twig' %}

{% block title %}Leden{% endblock %}

{% block leden %}
    {{ parent() }}
    <h1>Leden</h1>
    {% for leden in lid %}
    <table class="table">
        <tbody>
        <tr>
            <th>Naam</th>
            <td>{{ leden.naam }}</td>
        </tr>
        <tr>
            <th>Plaats</th>
            <td>{{ leden.place }}</td>
        </tr>
        <tr>
            <th>Straat</th>
            <td>{{ leden.street }}</td>
        </tr>
        <tr>
            <th>Postcode</th>
            <td>{{ leden.postalcode }}</td>
        </tr>
        </tbody>
    </table>
    {% endfor  %}
{% endblock %}