{% extends 'base.html.twig' %}
{% block aanbod %}
    <div class="container-fluid">
        {% for post in posts %}
            <div class="card col-4 float-left">
                {% block images %}<img class="foto" src="images/{{ post.naam }}.jpg" class="card-img-top" alt="...">{% endblock %}
                {{ post.naam }} <br>
                {{ post.description }} <br>
                {{ post.duration }} uur <br>
                &euro;{{ post.costs }} <br>
                <br>
                <a href="{{ path('agenda') }}">Plannen</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
