{% extends 'base.html.twig' %}

{% block title %}Training{% endblock %}

{% block show %}
    <h1>Training</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Naam</th>
                <td>{{ training.naam }}</td>
            </tr>
            <tr>
                <th>Beschrijving</th>
                <td>{{ training.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('training_index') }}"><button class="btn btn-warning">Terug</button></a>

    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('training_edit', {'id': training.id}) }}"><button class="btn btn-warning">Bewerken</button></a>
    {% endif %}

    {{ include('training/_delete_form.html.twig') }}
{% endblock %}
