{% extends 'base.html.twig' %}

{% block title %}Training index{% endblock %}

{% block index %}
    {% for tr in training %}
    <div class="card" style="width: 18rem; float: left; height: 390px">
        <img src="images/{{ tr.naam }}.jpg" class="card-img-top" alt="..." style="height: 200px">
        <div class="card-body">
            <h5 class="card-title">{{ tr.naam }}</h5>
            <p class="card-text">{{ tr.description }} <br> {{ tr.duration }} min <br> &euro;{{ tr.costs }} </p>
            <a href="{{ path('training_show', {'id': tr.id}) }}">show</a>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('training_edit', {'id': tr.id}) }}">edit</a>
            {% endif %}
        </div>
    </div>

        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}

    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('training_new') }}">Create new</a>
    {% endif %}
{% endblock %}