{% extends 'base.html.twig' %}

{% block title %}Training aanbod{% endblock %}

{% block index %}
    {% for tr in training %}
        <div class="container" style="margin: 10px;">
    <div class="card" style="width: 25rem; float: left; height: 390px">
        <img src="images/{{ tr.naam }}.jpg" class="card-img-top" alt="..." style="height: 200px">
        <div class="card-body">
            <h5 class="card-title">{{ tr.naam }}</h5>
            <p class="card-text">{{ tr.description }}</p>
            <a href="{{ path('training_show', {'id': tr.id}) }}" style="text-decoration: none"><button class="btn btn-info">Informatie</button></a>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('training_edit', {'id': tr.id}) }}" style="text-decoration: none"><button class="btn btn-warning">Bewerken</button></a>
                <a href="{{ path('training_delete', {'id': tr.id}) }}" style="text-decoration: none"><button class="btn btn-danger">Verwijderen</button></a>
                <button class="btn btn-secondary" style="margin-top: 5px;">Inschrijven</button>
            {% endif %}
        </div>
    </div>
        </div>

        {% else %}
            <tr>
                <td colspan="6">Geen lessen gevonden</td>
            </tr>
        {% endfor %}

    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('training_new') }}" style="float: right; text-decoration: none; margin-right: 10px;"><button class="btn btn-secondary">Les aanmaken</button></a>
    {% endif %}
{% endblock %}