{% extends 'base.html.twig' %}

{% block title %}Training index{% endblock %}

{% block index %}
    {% for tr in training %}
    <div class="card" style="width: 18rem; float: left; height: 390px">
        <img src="images/{{ training.naam }}.jpg" class="card-img-top" alt="..." style="height: 200px">
        <div class="card-body">
            <h5 class="card-title">{{ training.naam }}</h5>
            <p class="card-text">{{ training.description }} <br> {{ training.duration }} min <br> &euro;{{ training.costs }} </p>
        </div>
    </div>
                    <a href="{{ path('training_show', {'id': training.id}) }}">show</a>
                    <a href="{{ path('training_edit', {'id': training.id}) }}">edit</a>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}

    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('training_new') }}">Create new</a>
    {% endif %}
{% endblock %}